body{
    background-color: rgb(60,60,60);
    margin-top: 100px;
    align-items: center;
    justify-content: center;
   
    padding-left: 500px;
}
.seat{
    height: 20px;
    width: 20px;
    margin: 5px;
    background-color: #aaaa;
    border-radius: 5px;
}

.seat:not(.reserved):hover{
    transform: scale(1.5);
}

.seat:nth-of-type(3){
    margin-right: 30px;
}

.seat:nth-of-type(6){
    margin-right: 15px;
}

.seat:nth-of-type(9){
    margin-right: 30px;
}

.seat.selected{
    background-color: yellow;
}
.seat.reserved{
    background-color: rgb(7, 194, 181);
}

.screen{
    background-color: white;
    height: 100px;
    width: 400px;
    text-align: center;
    font-weight: bolder;
}

.container.row{
    padding-left: -500px;
    padding-top: 50px;
}

select,option{
    background-color: rgb(180, 180, 180);
}

.information{
    background-color: rgb(0, 0, 0,0.5);
    padding: 5px 10px;
    color: #888;
    display: flex;
    width: 300px;
}

.information li{
    display: flex;
}


.totalInfo{
    font-weight: bolder;
    color: white;
}
